header {
    background-color: #ffffff;
    padding: 1.5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.4s ease;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.language-switcher {
    display: flex;
    gap: 0.5rem;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.5s;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    animation: fadeIn 1.5s ease;
}

.logo {
    width: 100px;
    height: 80px;
    object-fit: contain;
    transition: all 0.4s ease;
}

.logo-title h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #263d4b;
    margin: 0;
}

/* shrink effect */
header.shrink {
    padding: 1rem 0;
}

header.shrink .logo {
    width: 50px;
    height: 50px;
}

header.shrink .logo-title h1 {
    font-size: 1.8rem;
}

/* القائمة + زر اللغة */
nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}

nav a {
    color: #0fc415;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    transition: color 0.3s ease, transform 0.3s ease, text-decoration 0.3s ease;
    position: relative;
}

nav a:hover {
    text-decoration: underline;
    color: #0095ff;
    transform: translateY(-3px);
}

/* زر تغيير اللغة */
button {
    padding: 1rem;
    background-color: #4a505d;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #61dafb;
    
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        text-align: center;
        direction: ltr;
    }

    .logo-title {
        justify-content: center;
        margin-bottom: 1rem;
    }

    nav {
        flex-direction: column;
        gap: 15px;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    .right-side {
        flex-direction: column;
    }

    .language-switcher {
        justify-content: center;
    }
}