body {
  font-family: Arial, sans-serif;
  /*background-color: #ffffff;*/
 background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4),
        rgba(255, 255, 255, 0.7)
      ),
    url('../assets/images/welding3.jpg') no-repeat left center / cover;

  padding: 2rem;
  direction: rtl;
}

.card {
    display: flex;
    flex-direction: row-reverse; /* عشان الصورة تكون على اليمين */
    gap: 1.5rem; /* مسافة بين الصورة والنص */
    align-items: center;
    padding: 3rem;
    margin-bottom: 2rem; 
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-decoration: none;
    color: inherit;
    transition: transform 0.9s ease, box-shadow 0.9s ease;
}

.card img {
    width: 350px; /* حجم الصورة */
    height: 350px;
    border-radius: 10px;
}

.card h1 {
     margin-bottom: 3rem;
}
.card p {
     margin-bottom: 0rem;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 20px 10px 25px rgba(0, 132, 255, 0.992);
}
.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1000px;
  margin: auto;
}

/* Animation keyframes */
@keyframes slideLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Apply animation to cards */
.slide-left {
  animation: slideLeft 1s ease forwards;
}

.slide-right {
  animation: slideRight 1s ease forwards;
}
@media (max-width: 768px) {
  .card {
    flex-direction: column; /* يجعل الصورة فوق والنص تحت */
    padding: 1rem;
    text-align: center;
  }

  .card img {
    width: 100%; /* تجعل الصورة تأخذ عرض الكارد */
    height: auto;
  }

  .card h1 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .card p {
    font-size: 0.9rem;
  }
}

